@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* E3E3CA */
body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: #e3e3ca;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.main-body {
  width: 1250px;
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
}
.main-body section {
  width: 30%;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3em;
  padding-right: 3em;
  justify-content: space-evenly;
}
.project-box {
  /* display: flex; */
  width: 100%;
  /* min-width: 450px;
  max-width: 500px; */
  height: fit-content;
  border: 1px solid #8d8d73;
  background-color: #e0e0d5;
  margin: 10px;
  padding: 8px 8px 14px 8px;
}

.project-images {
  min-width: 120px;
  max-width: 120px;
  aspect-ratio: 16/9;
  margin: 5px;
  border-radius: 0px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-box input {
  max-width: 350px;
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.form-box span {
  color: red;
}
